@import "./node_modules/normalize.css/normalize.css";

/* Geral */
body {
  font-size: 18px;
}

.container {
  /*border: 1px solid gray;*/
  max-width: 600px;
}

#configurar {
  display: none;
}

/* Top Menu */
.dock {
  position: sticky;
  top: 0px;
  border-bottom: 7px solid #536dfe;
  background: #E9E9E9;
}

.dock button {
  background: transparent;
  border: transparent;
}

.dock button:hover {
  background-color: #DDD;
}

.material-icons {
  padding: 5px;
  margin: 5px;
  font-size: 48px;
}

#vistoriado {
  color: #259b24;
}

#recuperado {
  color: #3f51b5;
}

#fechado {
  color: #ff5722;
}

#recusado {
  color: #e51c23
}

#config {
  color: gray;
}

/* Config */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-column-gap: 5px;
}

.grid-item {
  
}

.grid-item > h2 {
  margin-bottom: 5px;
}

input[type=time] {
  width: 90%;
}

/* Conteúdo */

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-decoration: bold;
  background: lightgreen;
  vertical-align: middle;
  padding: 5px;
}

td {
  height: 25px;
  border: 1px solid lightgray;
  text-align: center;
  align-content: middle;
  vertical-align: middle;
  padding: 5px;
}

/* Helpers */

.centro {
  text-align: center;
}

.direita {
  text-align: right;
}

.meio {
  vertical-align: middle;
}